/*! project specific CSS goes here. */
form.rowformatted input[type=text],
form.rowformatted input[type=email],
form.rowformatted textarea,
form.rowformatted select
{
    width: 90%;
}

/* Fix issue with collapsed elements in admin interface */
fieldset.collapsed h2, fieldset.collapsed {
    display: block;
}
.collapse {
    display: inherit;
}