{% extends "base.html" %}
{% load i18n admin_modify admin_static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}" />

<style>
.row{
    margin-top:    5px;
    margin-bottom: 5px;
}
.h1{
	margin-bottom: 20px;
}
#time_and_location {
    font: Andale Mono, monospace;
}
.event_box {
	margin-top:    20px;
	margin-bottom: 20px;
	padding:       10px 20px;
	min-height:    50px;
	border-left:   3px solid #A0A0A0;
	background:    #F3F3F3;
}
.ann_red {
	border-left:   3px solid #D58282;
	background:    #F6DFDF;
}
.ann_yellow {
	border-left:   3px solid #C7CC79;
	background:    #FDFFD9;
}
.ann_green {
	border-left:   3px solid #88D588;
	background:    #D1FFD7;
}
</style>

    {{ form.media }}
    {{ Attachments.media }}
{% endblock extra_head %}

{% block javascript %}
    <!-- Django admin widget etc, must be called before including the normal jQuery stuff -->
    <script type="text/javascript" src="/jsi18n/"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <!-- apparently this does not do what we expect
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    -->
    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
    {{ block.super }}
{% endblock javascript %}
