{% extends "hhlregistrations/base_forms.html" %}
{% load django_markdown %}

{% block title %}{{ event.title }} | Ilmoittautuminen{% endblock title %}

{% block content %}
    {% if event.isCancelled %}
        <div class="event_box ann_red">Huom. Tapahtumassa on peruutuksia.
        <ul>{% for can in event.cancellations.all %}<li>{{ can.reason }} ({{ can.date|date:"Y-m-d" }})</li>{% endfor %}</ul>
        </div>
        {% if event.hasMoreOccurrences %}
             <div class="event_box ann_green">Tapahtumassa on toistuvia jaksoja jäljellä</div>
        {% endif %}
    {% elif event.isPast %}
        <div class="event_box ann_red">Huom. Tapahtuma on päättynyt.</div>
        {% if event.hasMoreOccurrences %}
             <div class="event_box ann_green">Tapahtumassa on toistuvia jaksoja jäljellä</div>
        {% endif %}
    {% endif %}
        
    <h1>{{ event.title }} <span style="color:#A0A0A0;">| Ilmoittautuminen</span></h1>
    <p id="time_and_location">{{ event.start_date|date:"D Y-m-d H:i" }} - {{ event.end_date|date:"D Y-m-d H:i" }} {% for loc in event.location.all %} | {{ loc }}{% endfor %}</emp>
    
    <div class="event_box">
    {{ event.description|markdown }}
    </div>

    {% if not event.require_registration %}
        <div class="event_box ann_green"><p>Tämä tapahtuma ei vaadi ennakkoilmoittautumista</p></div>
    {% endif %}
    {% if registration_closed %}
        <div class="event_box ann_red"><p>Tähän tapahtumaan ei voi enää ilmoittautua</p></div>
    {% endif %}
    {% if waiting_list %}
        <div class="event_box ann_yellow"><p>Tapahtuma on jo täynnä mutta voit ilmoittautua jonotuslistalle ja ilmoitamme mikäli paikkoja vapautuu</p></div>
    {% endif %}
    
    {% if show_form %}
    <form method="post" class="rowformatted">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {{ form.non_field_errors }}
        <div class="row">
            <div class="col-md-12">
                {% if event.require_registration %}
                <h2>Pakolliset ilmoittautumistiedot</h2>
                {% else %}
                <h2>Ilmoittautumistiedot</h2>
                <small>Ilmoittautuminen ei ole pakollista, mutta suositeltavaa</small>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                {{ form.first_name.label_tag }}
            </div>
            <div class="col-md-10">
                {{ form.first_name.errors }}
                {{ form.first_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                {{ form.last_name.label_tag }}
            </div>
            <div class="col-md-10">
                {{ form.last_name.errors }}
                {{ form.last_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                {{ form.email.label_tag }}
            </div>
            <div class="col-md-10">
                {{ form.email.errors }}
                {{ form.email }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                {{ form.email2.label_tag }}
            </div>
            <div class="col-md-10">
                {{ form.email2.errors }}
                {{ form.email2 }}
                <br>{{ form.email2.help_text }}
            </div>
        </div>


        {% if show_optional %}
        <div class="row">
            <div class="col-md-12">
                <h2>Valinnaiset tiedot</h2>
            </div>
        </div>
        {% if show_materials %}
        <div class="row">
            <div class="col-md-2">
                {{ form.wants_materials.label_tag }}
            </div>
            <div class="col-md-10">
                {{ form.wants_materials.errors }}
                {{ form.wants_materials }}
                Materiaalipaketti maksaa {{ event.materials_cost }} EURoa.
            </div>
        </div>
        {% endif %}
        
        <!-- Valinnainen lisälomake jäseneksi liittymiseksi -->
        {% if show_join %}
        <div class="row">
            <div class="col-md-2">
                {{ form.join.label_tag }}
            </div>
            <div class="col-md-10">
                {{ form.join.errors }}
                {{ form.join }}
                Olen lukenut <a href="http://helsinki.hacklab.fi/liity/" target="_blank">liittymissivun</a> ja hyväksyn <a href="http://helsinki.hacklab.fi/yhdistys/yhdistyksen-saannot/" target="_blank">yhdistyksen säännöt</a>.
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                {{ form.city.label_tag }}
            </div>
            <div class="col-md-10">
                {{ form.city.errors }}
                {{ form.city }}
            </div>
        </div>
        {% endif %}
        {% endif %}

        <input type="submit" class="btn btn-primary" value="Ilmoittaudu">
    </form>
    {% endif %}
{% endblock content %}

