{% extends "hhlregistrations/base_forms.html" %}

{% block title %}{{ event.title }} | Ilmoittautuminen{% endblock title %}

{% block content %}
    <h1>{{ event.title }} | Ilmoittautuminen</h1>

    {% if not event.require_registration %}
        <p>Tämä tapahtuma ei vaadi ennakkoilmoittautumista</p>
    {% endif %}
    {% if registration_closed %}
        <p>Tähän tapahtumaan ei voi enää ilmoittautua</p>
    {% endif %}
    {% if waiting_list %}
        <p>Tapahtuma on jo täynnä mutta voit ilmoittautua jonotuslistalle ja ilmoitamme mikäli paikkoja vapautuu</p>
    {% endif %}

    {% if show_form %}
    <form method="post" class="rowformatted">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {{ form.non_field_errors }}
        <div class="row">
            <div class="col-md-12">
                <h2>Pakolliset tiedot</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                {{ form.first_name.label_tag }}
            </div>
            <div class="col-md-10">
                {{ form.first_name.errors }}
                {{ form.first_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                {{ form.last_name.label_tag }}
            </div>
            <div class="col-md-10">
                {{ form.last_name.errors }}
                {{ form.last_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                {{ form.email.label_tag }}
            </div>
            <div class="col-md-10">
                {{ form.email.errors }}
                {{ form.email }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                {{ form.email2.label_tag }}
            </div>
            <div class="col-md-10">
                {{ form.email2.errors }}
                {{ form.email2 }}
                <br>{{ form.email2.help_text }}
            </div>
        </div>


        {% if show_optional %}
        <div class="row">
            <div class="col-md-12">
                <h2>Valinnaiset tiedot</h2>
            </div>
        </div>
        {% if show_materials %}
        <div class="row">
            <div class="col-md-2">
                {{ form.wants_materials.label_tag }}
            </div>
            <div class="col-md-10">
                {{ form.wants_materials.errors }}
                {{ form.wants_materials }}
                Materiaalipaketti maksaa {{ event.materials_cost }} EURoa.
            </div>
        </div>
        {% endif %}
        {% if show_join %}
        <div class="row">
            <div class="col-md-2">
                {{ form.join.label_tag }}
            </div>
            <div class="col-md-10">
                {{ form.join.errors }}
                {{ form.join }}
                Olen lukenut <a href="http://helsinki.hacklab.fi/liity/" target="_blank">liittymissivun</a> ja hyväksyn <a href="http://helsinki.hacklab.fi/yhdistys/yhdistyksen-saannot/" target="_blank">Helsinki Hacklab ry:n säännöt</a>.
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                {{ form.city.label_tag }}
            </div>
            <div class="col-md-10">
                {{ form.city.errors }}
                {{ form.city }}
            </div>
        </div>
        {% endif %}
        {% endif %}

        <input type="submit" class="btn btn-primary" value="Ilmoittaudu">
    </form>
    {% endif %}
{% endblock content %}

