{% extends "admin/base_site.html" %}

<!-- huom, tämä on nyt tehty pitkälti suomeksi, voi vaihtaa englanniksikin, jos tuntuu paremmalta -->
{% load i18n %}


{% block extrastyle %}
<style>
@media print
{    
   .no-print, .no-print *
   {
      display: none !important;
   }
}
</style>
{% endblock %}

{% block title %} {{ object }} | {{ site_title|default:_('Django site admin') }}{% endblock %}


{% block content %}

<h3>{{ object }}</h3>
{% if object.isPast %}<h4 style="color: grey">{% trans "Note! The event has ended" %}</h4>{% endif %}
       
<div style="float:right;" class="no-print">
  <table>
     {% for list_item in object_list %}
     <tr{% if list_item.isPast %} style="color: grey"{% endif %}>
     <td><a href="{% url 'admin_extras:summary' slug=list_item.uuid %}">{{ list_item }}</a></td>
     <td>{{ list_item.start_date|date:"D d.m.Y H:i" }}</td>
     <td>{{ list_item.end_date|date:"D d.m.Y H:i" }}</td>
     <td>{% if list_item.cancellations.count > 0 %} <span style="color: #FF3030;" title="Cancellations in the event">&#9888;</span>{% endif %}</td>
     </tr>
     {% endfor %}
   </table>
</div>

       <!-- Tapahtuman perustiedot -->
<table>
   <tr><td>{% trans "Event begins" %}</td><td>{{ object.start_date|date:"D d.m.Y H:i" }}</td></tr><!-- tähän saisi jostain ehkä jonkun locale:n mukaisen esitystavan -->
   <tr><td>{% trans "Event ends" %}</td><td>{{ object.end_date|date:"D d.m.Y H:i"  }}</td></tr>
   <tr><td>{% trans "Location" %}</td><td>{% for loc in list_item.location.all %} | {{ loc }}{% endfor %}</td></tr>
   <tr><td>{% trans "Max. allowed participants" %}</td><td>{{ object.max_registrations }}</td></tr>
   <tr><td>{% trans "Registrations close" %}</td><td>{{ object.close_registrations|date:"D d.m.Y H:i"  }}</td></tr>
   <tr><td>{% trans "Participation fee" %}</td><td>{{ object.event_cost }}</td></tr>
   <tr><td>{% trans "Materials fee" %}</td><td>{{ object.materials_cost }}</td></tr>
   <tr><td>{% trans "Materials mandatory" %}</td><td>{{ object.materials_mandatory }}</td></tr>
   <tr><td>{% trans "Due date" %}</td><td>{{ object.payment_due|date:"D d.m.Y H:i"  }}</td></tr>
   <tr><td>{% trans "Separate form" %}</td><td>{{ object.gforms_url }}</td></tr>
</table>

{% if object.cancellations.count > 0 %} 
<h5>{% trans "Cancellations" %}<span style="color: #FF3030;" title="Cancellations in the event"> &#9888; </span></h5>
<ul{% for can in object.cancellations.all %}
   <li>{{ can.reason }} ({{ can.date|date:"Y-m-d" }})</li>{% endfor %}
</ul>
{% endif %} 


<h5>{% trans "Participants" %}</h5>
<ul>{% for reg in object.getParticipants %}
   <li>{{ reg }}</li>{% endfor %}
</ul>
<small>{% autoescape off %}{{ object.getStatsHTML }}{% endautoescape %}</small>
       
       
<div class="no-print">
  <h5>{% trans "Send E-mail to all participants (BCC)" %}</h5>
  <form action="/admin/reg_sum/{{ object.uuid }}" method="POST"><!-- /admin/regsum/ varmaan korvattavissa jollain muuttujalla -->
      <input type="text" name="subject" value="Viesti tapahtumasta / Message about event: {{ object }}" style="width: 450px"><br>        
      <textarea name="message" rows="10" cols="60">{% trans "Message" %}</textarea><br>
      {% csrf_token %}
      <p>{% trans "Send copy of E-mail to address (CC):" %}</p>
      <input type="text" name="extra_recipient" value="" style="width: 200px"><br>
      <p>{% trans "Replies are asked to send to address (Reply-To):" %}</p>
      <input type="text" name="reply_to" value="noreply@example.com" style="width: 200px"><br>
      <input type="submit" value="{% trans 'Submit' %}">
   </form>
</div>

{% endblock content %}

